Repository Dogpamines/DogSeek-Frontend, pull requests merged in 2024-07, with the labels that each got.

#102 [#27] Admin main page
  package-lock.json
  package.json
  src/components/admin/DashBoard.js
  src/components/admin/adminCommon/AdminModal.module.css
  src/components/admin/adminCommon/Navbar.js
  src/components/admin/adminMain/AccumulateGraph.js
  src/components/admin/adminMain/AdminMain.module.css
  src/components/admin/adminMain/DashBoardGraph.js
  src/components/admin/adminMain/DashBoardPopular.js
  src/components/admin/adminMain/DashBoardSummary.js
  src/components/admin/adminMain/DiscreteGraph.js
  src/components/admin/board/CommentModal.js
  src/components/admin/board/InsertBoard.js
  src/components/admin/board/UpdateBoard.js
  src/components/admin/dict/SelectDictByCode.js
  src/components/admin/products/SelectProductByCode.js
  src/components/admin/user/SelectUserByCode.js
  src/pages/admin/AdminDashBoard.js
  src/pages/admin/AdminPages.module.css
  src/pages/admin/dict/AdminInsertDict.js
  src/pages/admin/dict/AdminSelectDictByCode.js
  src/pages/admin/dict/AdminUpdateDict.js
  src/pages/admin/products/AdminUpdateProduct.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css, 🔨 Refactor

#103 [#96] Fix signup
  src/api/RestAPIs.js
  src/pages/auth/SignUpInfo.js
Labels: 📬 API, ✨ Feature

#104 [#101] Token decoding
  src/api/RestAPIs.js
  src/pages/auth/Login.js
Labels: 📬 API, ✨ Feature

#110 [#105] Call email verification API
  src/api/RestAPIs.js
  src/pages/auth/Login.js
  src/pages/auth/SignUpIdentity.js
  src/pages/auth/SignUpInfo.js
Labels: 📬 API, ✨ Feature

#107 [#107] Prod Page
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mydog.module.css
  src/pages/mypage/Mypage.js
Labels: 📬 API, 🎨 Html&css

#108 [#27] Admin pages (validate & exception)
  package-lock.json
  package.json
  public/images/admin/Nothing Found.png
  src/components/admin/adminCommon/AdminModal.module.css
  src/components/admin/adminCommon/AlertModal.js
  src/components/admin/adminCommon/ImageInputModal.js
  src/components/admin/dict/AdminDict.module.css
  src/components/admin/dict/SelectAllDicts.js
  src/components/admin/products/AdminProducts.module.css
  src/components/admin/products/InsertProduct.js
  src/components/admin/products/SelectAllProducts.js
  src/components/admin/products/SelectProductByCode.js
  src/components/admin/products/UpdateProduct.js
  src/pages/admin/dict/AdminSelectAllDicts.js
  src/pages/admin/products/AdminInsertProduct.js
  src/pages/admin/products/AdminSelectAllProducts.js
  src/pages/admin/products/AdminSelectProductByCode.js
  src/pages/admin/products/AdminUpdateProduct.js
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#114 [#80] Products List, Naver API
  package-lock.json
  package.json
  public/images/product/Empty Dog Bowl.png
  src/pages/curation/CurationResult.js
  src/pages/curation/CurationResult.module.css
  src/pages/products/Paging.css
  src/pages/products/ProductDetail.js
  src/pages/products/ProductDetail.module.css
  src/pages/products/Products.js
  src/pages/products/Products.module.css
Labels: 📬 API, 🎨 Html&css, 🔨 Refactor

#115 [#27] Admin pages
  src/components/admin/adminCommon/AlertModal.js
  src/components/admin/adminCommon/ConfirmModal.js
  src/components/admin/adminCommon/ImageInputModal.js
  src/components/admin/dict/AdminDict.module.css
  src/components/admin/dict/InsertDict.js
  src/components/admin/dict/SelectAllDicts.js
  src/components/admin/dict/SelectDictByCode.js
  src/components/admin/dict/UpdateDict.js
  src/components/admin/products/AdminProducts.module.css
  src/components/admin/products/InsertProduct.js
  src/components/admin/products/SelectAllProducts.js
  src/components/admin/products/UpdateProduct.js
  src/components/admin/user/AdminUsers.module.css
  src/components/admin/user/SelectAllUsers.js
  src/components/admin/user/SelectUserByCode.js
  src/pages/admin/dict/AdminInsertDict.js
  src/pages/admin/dict/AdminSelectAllDicts.js
  src/pages/admin/dict/AdminSelectDictByCode.js
  src/pages/admin/dict/AdminUpdateDict.js
  src/pages/admin/products/AdminInsertProduct.js
  src/pages/admin/products/AdminSelectAllProducts.js
  src/pages/admin/user/AdminSelectAllUsers.js
  src/pages/admin/user/AdminSelectUserByCode.js
Labels: 🐞 BugFix, ✨ Feature, 🎨 Html&css, 🔨 Refactor

#116 [#111] Call find email(id) API
  src/App.js
  src/api/RestAPIs.js
  src/pages/auth/FindEmail.js
  src/pages/auth/FindEmail.module.css
  src/pages/auth/Login.js
  src/pages/auth/SignUpIdentity.js
  src/pages/auth/SignUpInfo.js
Labels: 📬 API, ✨ Feature, 🔨 Refactor

#117 [#113] Animal Registration Number view
  src/App.js
  src/pages/animalRegist/AnimalRegist.js
  src/pages/animalRegist/AnimalRegist.module.css
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#118 [#112] Call change password API
  src/App.js
  src/api/RestAPIs.js
  src/pages/auth/FindEmail.js
  src/pages/auth/FindPwd.js
  src/pages/auth/FindPwd.module.css
Labels: 📬 API, ✨ Feature

#119 [#70] post Writing
  src/pages/board/Board.js
  src/pages/board/Board.module.css
  src/pages/board/BoardKakao.js
Labels: ✨ Feature, 🎨 Html&css

#121 [#106] Curation page edit
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mypage.js
Labels: 📬 API, 🎨 Html&css

#122 [#80] Products List, NAVER API
  package.json
  public/images/curation/cuteDog.png
  src/pages/curation/CurationResult.js
  src/pages/products/Paging.css
  src/pages/products/ProductDetail.js
  src/pages/products/Products.js
  src/pages/products/Products.module.css
Labels: 📬 API, 🎨 Html&css

#123 [#27] Admin pages
  package-lock.json
  public/images/admin/Dog.png
  src/components/admin/adminCommon/Navbar.js
  src/components/admin/user/AdminUsers.module.css
  src/components/admin/user/SelectUserByCode.js
  src/pages/admin/dict/AdminSelectAllDicts.js
  src/pages/admin/user/AdminSelectUserByCode.js
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#120 [#113] AnimalRegistrationNumber
  public/images/animal/cuteDog.png
  src/App.js
  src/pages/animalRegist/AnimalRegist.js
  src/pages/animalRegist/AnimalRegist.module.css
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#126 [#124] Modify find ID/PW page
  src/pages/auth/FindEmail.js
  src/pages/auth/FindEmail.module.css
  src/pages/auth/FindPwd.js
  src/pages/auth/FindPwd.module.css
Labels: 🎨 Html&css, 🔨 Refactor

#128 [#127] NICK EDIT
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mydog.module.css
  src/pages/mypage/Mypage.js
  src/pages/mypage/Mypage.module.css
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#130 [#80] Naver Api, cssFix
  .gitignore
  public/images/curation/bigDog.png
  public/images/curation/middleDog.png
  public/images/curation/smallDog.png
  public/images/product/EmptyDogBowl.png
  public/images/product/vector.png
  src/pages/curation/Curation.module.css
  src/pages/curation/CurationResult.module.css
  src/pages/curation/CurationSelectAllergy.module.css
  src/pages/curation/CurationSelectDisease.module.css
  src/pages/curation/CurationSizeSelect.js
  src/pages/products/ProductDetail.js
  src/pages/products/ProductDetail.module.css
  src/pages/products/Products.js
  src/pages/products/Products.module.css
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#129 [#113] AnimalRegist api
  public/images/animal/cuteDog.png
  src/api/RestAPIs.js
  src/pages/animalRegist/AnimalRegist.js
  src/pages/animalRegist/AnimalRegist.module.css
  src/pages/dict/Dict.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#131 [#27] Admin pages
  public/images/admin/DataGrid.png
  public/images/admin/ExternalLink.png
  public/images/admin/NoImageAvailable.png
  public/images/admin/NothingFound.png
  public/images/admin/OpenBook.png
  public/images/admin/OpenDeliveredBox.png
  public/images/admin/StarOff.png
  public/images/admin/StarOn.png
  public/images/admin/UsedProduct.png
  src/components/admin/adminCommon/AdminModal.module.css
  src/components/admin/adminCommon/GradeInput.js
  src/components/admin/adminCommon/GradeOutput.js
  src/components/admin/adminCommon/Navbar.js
  src/components/admin/board/AdminBoards.module.css
  src/components/admin/board/CommentModal.js
  src/components/admin/board/InsertBoard.js
  src/components/admin/board/ReportsModal.js
  src/components/admin/board/SelectAllBoards.js
  src/components/admin/board/SelectAllNotices.js
  src/components/admin/board/SelectBoardByCode.js
  src/components/admin/board/UpdateBoard.js
  src/components/admin/dict/SelectAllDicts.js
  src/components/admin/products/SelectAllProducts.js
  src/components/admin/user/AdminUsers.module.css
  src/components/admin/user/SelectAllUsers.js
  src/components/admin/user/SelectUserByCode.js
  src/layouts/AdminLayout.js
  src/pages/admin/board/AdminInsertBoard.js
  src/pages/admin/board/AdminSelectAllBoards.js
  src/pages/admin/board/AdminSelectBoardByCode.js
  src/pages/admin/board/AdminUpdateBoard.js
Labels: 🥰 Accessibility, ✨ Feature, 🎨 Html&css, 🔨 Refactor

#136 [#135] Admin fix1
  src/components/admin/adminCommon/AdminModal.module.css
  src/components/admin/adminCommon/ConfirmModal.js
  src/components/admin/adminCommon/ImageInputModal.js
  src/components/admin/adminCommon/Navbar.js
  src/components/admin/adminMain/AdminMain.module.css
  src/components/admin/board/AdminBoards.module.css
  src/components/admin/board/BoardModal.js
  src/components/admin/board/InsertBoard.js
  src/components/admin/board/ReportsModal.js
  src/components/admin/board/SelectAllBoards.js
  src/components/admin/board/SelectAllNotices.js
  src/components/admin/board/SelectBoardByCode.js
  src/components/admin/board/UpdateBoard.js
  src/components/admin/dict/InsertDict.js
  src/components/admin/dict/SelectAllDicts.js
  src/components/admin/dict/SelectDictByCode.js
  src/components/admin/dict/UpdateDict.js
  src/components/admin/products/InsertProduct.js
  src/components/admin/products/SelectAllProducts.js
  src/components/admin/products/SelectProductByCode.js
  src/components/admin/products/UpdateProduct.js
  src/components/admin/user/SelectAllUsers.js
  src/components/admin/user/SelectUserByCode.js
  src/pages/admin/dict/AdminInsertDict.js
  src/pages/admin/products/AdminInsertProduct.js
Labels: 🐞 BugFix, ✨ Feature, 🎨 Html&css, 🔨 Refactor

#139 [#138] ProductsList
  src/pages/curation/CurationResult.js
  src/pages/products/ProductDetail.js
  src/pages/products/Products.js
  src/pages/products/Products.module.css
Labels: 🎨 Html&css, 🔨 Refactor

#143 [#106,#141] Admin Header, Curation history
  src/components/common/Header1.js
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mydog.module.css
  src/pages/mypage/Mypage.js
Labels: 📬 API, ✨ Feature, 🔨 Refactor

#145 [#144] MainProducts, PageConnect
  public/images/main/vector.png
  src/pages/Main.js
  src/pages/Main.module.css
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#146 [#133]Update post css
  src/pages/board/Board.js
Labels: ✨ Feature, 🎨 Html&css

#148 [#134] Apply button disabled & Modify login/signup valid modal css
  public/images/auth/exclamationmark_circle.png
  public/images/auth/modal_check.png
  src/pages/auth/Login.js
  src/pages/auth/Login.module.css
  src/pages/auth/SignUp.js
  src/pages/auth/SignUp.module.css
  src/pages/auth/SignUpIdentity.js
  src/pages/auth/SignUpIdentity.module.css
  src/pages/auth/SignUpInfo.js
  src/pages/auth/SignUpInfo.module.css
Labels: 🎨 Html&css, 🔨 Refactor

#149 [#147] Dict search error, search image add
  src/pages/dict/Dict.js
  src/pages/dict/Dict.module.css
  src/pages/dict/DictDetail.js
  src/pages/dict/DictDetail.module.css
Labels: ✨ Feature, 🎨 Html&css

#150 [#137] AnimalRegist
  src/App.js
  src/pages/animalRegist/AnimalRegist.js
  src/pages/animalRegist/AnimalRegist.module.css
Labels: ✨ Feature, 🎨 Html&css

#153 [#152] Error boundary
  public/images/admin/CloseWindow.png
  public/images/admin/Error.png
  src/api/RestAPIs.js
  src/components/admin/adminCommon/AdminCommon.module.css
  src/components/admin/adminCommon/FetchErrorBoundary.js
  src/components/admin/adminCommon/FetchErrorBoundaryWBoundary.js
  src/components/admin/adminCommon/Loading.js
  src/components/admin/adminMain/AdminMain.module.css
  src/components/admin/adminMain/DashBoard.js
  src/components/admin/board/SelectAllBoards.js
  src/components/admin/board/SelectAllNotices.js
  src/components/admin/board/SelectBoardByCode.js
  src/components/admin/dict/SelectAllDicts.js
  src/components/admin/dict/SelectDictByCode.js
  src/components/admin/products/SelectAllProducts.js
  src/components/admin/products/SelectProductByCode.js
  src/components/admin/user/SelectAllUsers.js
  src/components/admin/user/SelectUserByCode.js
  src/pages/admin/AdminDashBoard.js
  src/pages/admin/board/AdminSelectAllBoards.js
  src/pages/admin/board/AdminSelectBoardByCode.js
  src/pages/admin/dict/AdminSelectAllDicts.js
  src/pages/admin/dict/AdminSelectDictByCode.js
  src/pages/admin/products/AdminSelectAllProducts.js
  src/pages/admin/products/AdminSelectProductByCode.js
  src/pages/admin/user/AdminSelectAllUsers.js
  src/pages/admin/user/AdminSelectUserByCode.js
Labels: 🥰 Accessibility, 📬 API, 🐞 BugFix, ✨ Feature, 🎨 Html&css, 🔨 Refactor

#164 [#163] Edit password
  src/components/common/Header1.js
  src/pages/mypage/Mypage.js
  src/pages/mypage/Mypage.module.css
Labels: 📬 API, 🎨 Html&css

#155 [#125] Call logout API
  src/api/RestAPIs.js
  src/components/common/Header1.js
Labels: 📬 API, ✨ Feature

#157 [#154] Modify find account
  src/pages/auth/FindEmail.js
  src/pages/auth/FindEmail.module.css
  src/pages/auth/FindPwd.js
  src/pages/auth/FindPwd.module.css
Labels: 🎨 Html&css

#158 [#156] Edit signup terms modal
  src/pages/auth/SignUp.js
  src/pages/auth/SignUp.module.css
Labels: 🎨 Html&css

#159 [#144] MainFix
  public/images/main/vector.png
  src/pages/Main.js
  src/pages/Main.module.css
Labels: 🎨 Html&css

#161 [#160] NotTokenApi
  src/api/RestAPIs.js
  src/pages/products/ProductDetail.js
  src/pages/products/Products.js
Labels: 📬 API

#169 [#168] Cookie & view count
  package-lock.json
  package.json
  src/api/RestAPIs.js
  src/components/admin/adminCommon/Navbar.js
  src/components/admin/products/SelectProductByCode.js
Labels: 📬 API, ✨ Feature, 🔨 Refactor

#171 [#170] Search modal, Search image, Search error
  public/images/dict/Search.png
  src/pages/dict/Dict.js
  src/pages/dict/DictDetail.js
Labels: ✨ Feature, 🎨 Html&css

#172 [#167] Add volumeRestApi
  src/pages/products/ProductDetail.js
  src/pages/products/ProductDetail.module.css
  src/pages/products/Products.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#173 [#163] Edit Password
  src/pages/auth/Login.js
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mydog.module.css
  src/pages/mypage/Mypage.js
  src/pages/mypage/Mypage.module.css
Labels: 📬 API, 🎨 Html&css

#174 [#166] Reissurance access token
  src/api/RestAPIs.js
Labels: 📬 API, ✨ Feature

#179 [#177] CurationAccessRestrictions
  src/components/curation/CurationInsert.js
  src/components/curation/CurationProducts.js
  src/components/curation/CurationProducts.module.css
  src/pages/Main.js
  src/pages/Main.module.css
  src/pages/products/ProductDetail.js
  src/pages/products/ProductDetail.module.css
  src/pages/products/Products.js
Labels: 🎨 Html&css, 🔨 Refactor

#180 [#178] Modify find id
  src/pages/auth/FindEmail.js
  src/pages/auth/FindEmail.module.css
Labels: 🎨 Html&css, 🔨 Refactor

#181 [#163] EDIT PASSWORD
  src/api/RestAPIs.js
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mypage.js
  src/pages/mypage/Mypage.module.css
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#183 [#182] Dict function Change
  src/pages/dict/Dict.js
  src/pages/dict/Dict.module.css
  src/pages/dict/DictDetail.js
  src/pages/dict/DictDetail.module.css
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#187 [#184] ErrorBoundary
  src/components/products/MostProducts.js
  src/components/products/MostProducts.module.css
  src/pages/Main.js
  src/pages/products/Products.js
Labels: 🔨 Refactor

#189 [#188] Edit Mypage Css
  src/components/mypage/ErrorBoundary.js
  src/components/mypage/ErrorBoundary.module.css
  src/pages/mypage/Mydog.module.css
  src/pages/mypage/Mypage.js
  src/pages/mypage/Mypage.module.css
Labels: 🎨 Html&css

#190 [#133] Detall view and api
  src/pages/board/Board.js
  src/pages/board/Board.module.css
  src/pages/board/BoardKakao.js
  src/pages/board/BoardPost.js
  src/pages/board/BoardWiting.js
Labels: ✨ Feature, 🎨 Html&css

#192 [#191] Edit css
  public/images/main/Chat.png
  public/images/main/Consultation.png
  public/images/main/headset.png
  public/images/main/support.png
  public/images/main/topbtn.png
  public/images/main/topbtn2.png
  public/images/main/topbtn3.png
  public/images/main/topbtn5.png
  public/images/main/toptbn4.png
  src/components/common/Topbtn.js
  src/components/common/Topbtn.module.css
  src/pages/Main.js
  src/pages/Main.module.css
  src/pages/animalRegist/AnimalRegist.module.css
  src/pages/auth/Login.js
  src/pages/auth/SignUp.js
  src/pages/auth/SignUpIdentity.js
  src/pages/auth/SignUpInfo.js
  src/pages/curation/CurationResult.js
  src/pages/dict/Dict.js
  src/pages/dict/DictDetail.js
  src/pages/etc/Company.js
  src/pages/etc/PrivacyPolicy.js
  src/pages/etc/Terms.js
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mypage.js
  src/pages/products/ProductDetail.js
  src/pages/products/Products.js
  src/pages/products/Products.module.css
Labels: 🎨 Html&css

#194 [#193] app.js in errorboundary
  src/App.js
  src/components/common/ErrorContext.js
  src/components/common/ErrorContext.module.css
  src/components/common/Errorboundary.js
  src/pages/dict/DictDetail.js
  src/pages/dict/DictDetail.module.css
Labels: ✨ Feature, 🎨 Html&css

#195 [#133] Post update
  src/App.js
  src/pages/board/Board.js
  src/pages/board/BoardPost.js
  src/pages/board/BoardUpdate.js
  src/pages/board/BoardUpdate.module.css
  src/pages/board/BoardWiting.js
  src/pages/board/BoardWriting.js
  src/pages/board/BoardWriting.module.css
Labels: ✨ Feature, 🎨 Html&css

#197 [#196] Chatting
  package-lock.json
  package.json
  public/images/admin/Chat.png
  src/App.js
  src/api/RestAPIs.js
  src/components/admin/adminCommon/Navbar.js
  src/components/admin/chat/AdminChat.module.css
  src/components/admin/chat/Chat.js
  src/components/admin/chat/ChatList.js
  src/components/admin/chat/ChatMessage.js
  src/components/admin/chat/ChatTest.js
  src/components/chat/ChatComponent.js
  src/components/chat/ChatMessage.js
  src/components/chat/PrivateChat.js
  src/pages/admin/chat/AdminChat.js
  src/pages/admin/chat/AdminChatList.js
  src/pages/admin/chat/AdminChatTest.js
  src/pages/chat/Chat.js
  src/pages/chat/UserPrivateChat.js
Labels: 📬 API, ✨ Feature, ⚙ Setting

#199 [#198] Edit find pw modal
  src/components/common/Header1.js
  src/pages/auth/FindPwd.js
Labels: 🐞 BugFix, ✨ Feature

#202 [#200] CssFix
  src/components/products/MostProducts.module.css
  src/pages/curation/Curation.js
  src/pages/curation/Curation.module.css
  src/pages/dict/Dict.js
  src/pages/dict/Dict.module.css
  src/pages/products/ProductDetail.js
  src/pages/products/ProductDetail.module.css
  src/pages/products/Products.js
  src/pages/products/Products.module.css
Labels: 🎨 Html&css

#201 [#193] ErrorBoundary
  src/App.js
  src/components/common/ErrorContext.js
  src/components/common/ErrorContext.module.css
  src/pages/common/ErrorContext.js
  src/pages/common/ErrorContext.module.css
  src/pages/common/Errorboundary.js
Labels: ✨ Feature, 🎨 Html&css

#203 [#133] Post update close
  package-lock.json
  src/pages/board/Board.js
  src/pages/board/Board.module.css
  src/pages/board/BoardPost.js
  src/pages/board/BoardPost.module.css
  src/pages/board/BoardUpdate.js
  src/pages/board/BoardWriting.js
  src/pages/board/BoardWriting.module.css
Labels: ✨ Feature, 🎨 Html&css

#209 [#206] Real post report frontend close
  src/pages/board/Board.js
  src/pages/board/BoardPost.js
  src/pages/board/BoardPost.module.css
Labels: ✨ Feature, 🎨 Html&css

#210 [#208] CurationFix
  src/pages/curation/Curation.js
  src/pages/curation/CurationSelectAllergy.js
  src/pages/curation/CurationSelectDisease.js
  src/pages/curation/CurationSelectIngra.js
  src/pages/curation/CurationSelectIngra.module.css
Labels: 📬 API, 🎨 Html&css, 🔨 Refactor

#212 [#211] View Modal
  src/pages/board/BoardUpdate.js
  src/pages/board/BoardUpdate.module.css
  src/pages/board/BoardWriting.js
  src/pages/board/BoardWriting.module.css
Labels: ✨ Feature, 🎨 Html&css

#215 [#216] Admin edit2
  src/components/admin/adminCommon/AlertModal.js
  src/components/admin/adminCommon/ConfirmModal.js
  src/components/admin/adminCommon/GradeInput.js
  src/components/admin/adminCommon/GradeOutput.js
  src/components/admin/board/BoardModal.js
  src/components/admin/board/SelectAllBoards.js
Labels: 🐞 BugFix, 🎨 Html&css

#218 [#211] Css additional work
  src/pages/board/Board.js
Labels: ✨ Feature, 🎨 Html&css

#219 [#214] Fix url & css
  src/App.js
  src/components/admin/dict/SelectAllDicts.js
  src/components/admin/user/SelectAllUsers.js
  src/components/common/Footer.js
  src/components/common/Hamberger.js
  src/components/common/Header1.js
  src/components/products/MostProducts.js
  src/layouts/Layout1.module.css
  src/pages/Main.js
  src/pages/animalRegist/AnimalRegist.js
  src/pages/animalRegist/AnimalRegist.module.css
  src/pages/auth/FindEmail.js
  src/pages/auth/FindEmail.module.css
  src/pages/auth/FindPwd.js
  src/pages/auth/FindPwd.module.css
  src/pages/auth/Login.js
  src/pages/auth/SignUp.js
  src/pages/auth/SignUpIdentity.js
  src/pages/auth/SignUpInfo.js
  src/pages/board/Board.js
  src/pages/chat/UserChat.module.css
  src/pages/chat/UserPublicChat.js
  src/pages/curation/Curation.js
  src/pages/curation/CurationResult.js
  src/pages/curation/CurationSelectAge.js
  src/pages/curation/CurationSelectAllergy.js
  src/pages/curation/CurationSelectCook.js
  src/pages/curation/CurationSelectDisease.js
  src/pages/curation/CurationSelectIngra.js
  src/pages/curation/CurationSelectNeut.js
  src/pages/curation/CurationSizeSelect.js
  src/pages/dict/Dict.js
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mypage.js
  src/pages/products/Products.js
Labels: 📬 API, 🐞 BugFix, 🎨 Html&css, 🔨 Refactor

#221 [#220] Edit Css
  src/components/admin/user/SelectUserByCode.js
  src/components/chat/UserChat.module.css
  src/components/common/Footer.module.css
  src/components/common/Header1.js
  src/pages/Main.js
  src/pages/Main.module.css
  src/pages/animalRegist/AnimalRegist.module.css
  src/pages/auth/SignUp.js
  src/pages/auth/SignUpComplete.js
  src/pages/auth/SignUpInfo.js
  src/pages/board/Board.js
  src/pages/chat/UserChat.module.css
  src/pages/chat/UserPublicChat.js
  src/pages/products/Products.js
Labels: 🎨 Html&css

#223 [#222] Front Edit
  public/images/curation/basic.png
  public/images/curation/fire.png
  public/images/curation/soft.png
  public/images/curation/wet.png
  src/components/admin/adminCommon/GradeInput.js
  src/components/admin/adminCommon/GradeOutput.js
  src/pages/board/Board.js
  src/pages/board/BoardPost.js
  src/pages/board/BoardPost.module.css
  src/pages/board/BoardUpdate.js
  src/pages/board/BoardUpdate.module.css
  src/pages/curation/CurationSelectCook.js
  src/pages/products/ProductDetail.js
  src/pages/products/ProductDetail.module.css
Labels: 🎨 Html&css

#225 [#224] Edit css
  src/components/admin/chat/AdminChat.module.css
  src/pages/animalRegist/AnimalRegist.js
  src/pages/animalRegist/AnimalRegist.module.css
  src/pages/board/BoardPost.module.css
  src/pages/board/BoardUpdate.js
  src/pages/chat/UserChat.module.css
  src/pages/curation/CurationSelectDisease.js
  src/pages/mypage/Mypage.js
  src/pages/mypage/Mypage.module.css
  src/pages/products/ProductDetail.module.css
  src/pages/products/Products.js
Labels: 🎨 Html&css

#227 [#226] List button
  src/pages/board/BoardPost.js
Labels: ✨ Feature, 🎨 Html&css
