Repository Dogpamines/DogSeek-Frontend, pull requests merged in 2024-06, with the labels that each got.

#9 [FEATURE][BOARD]board1 게시판 목록
  public/images/boardSearch.svg
  public/images/dogsa.png
  src/pages/Board/Board.js
  src/pages/Board/board.module.css
Labels: ✨ Feature, 🎨 Html&css

#4 [FEATURE][ETC][COMPANY] company page commit
  .gitignore
  src/pages/Etc/Company.module.css
Labels: 🎨 Html&css

#6 [FEATURE][ETC][TERMSANDPRIVACYPOLICY] ETC PAGE 생성 완료
  src/App.js
  src/components/common/Footer.js
  src/pages/Etc/PrivacyPolicy.js
  src/pages/Etc/PrivacyPolicy.module.css
  src/pages/Etc/Terms.js
  src/pages/Etc/Terms.module.css
Labels: 🎨 Html&css

#10 [FEATURE][MAIN] MAIN PAGE
  public/images/main/Icon1.png
  public/images/main/Icon2.png
  public/images/main/Icon3.png
  public/images/main/boards1.png
  public/images/main/goNative1.png
  public/images/main/goNative2.png
  public/images/main/goNative3.png
  public/images/main/maindog1.png
  public/images/main/maindog2.png
  src/pages/Main.js
  src/pages/Main.module.css
Labels: 🎨 Html&css

#13 [Close #12] 큐레이션 첫 페이지
  src/pages/Curation/Curation.js
  src/pages/Curation/Curation.module.css
Labels: 🎨 Html&css

#15 [Close #14] 큐레이션 두번째 페이지(견종크기 선택)
  public/images/curation/Vector.png
  public/images/curation/dog-7236101_1280 3.png
  public/images/curation/dog-7760218_1280 1.png
  public/images/curation/dog-7760218_1280 2.png
  src/pages/Curation/CurationSizeSelect.js
  src/pages/Curation/CurationSizeSelect.module.css
Labels: 🎨 Html&css

#19 [Close #18] 큐레이션 네번째 페이지(중성화 여부)
  public/images/curation/circle.png
  public/images/curation/x.png
  src/pages/Curation/CurationSelectNeut.js
  src/pages/Curation/CurationSelectNeut.module.css
Labels: 🎨 Html&css

#21 [Close #20] 큐레이션 다섯번째 페이지(알러지 선택)
  src/pages/Curation/CurationSelectAllergy.js
  src/pages/Curation/CurationSelectAllergy.module.css
Labels: 🎨 Html&css

#25 [Close #22] 큐레이션 여섯번째 페이지(질병 및 질환 선택)
  src/pages/Curation/CurationSelectDisease.js
  src/pages/Curation/CurationSelectDisease.module.css
Labels: 🎨 Html&css

#23 [#11] mypage,mydog 페이지 미완성 커밋
  src/App.js
  src/components/common/Modal.js
  src/components/common/Modal.module.css
  src/pages/Mypage/Mydog.js
  src/pages/Mypage/Mydog.module.css
  src/pages/Mypage/Mypage.js
  src/pages/Mypage/Mypage.module.css
Labels: 🎨 Html&css

#26 [#24] 견종백과 전체 목록 페이지 구현
  package-lock.json
  package.json
  public/images/dict/1. 상단_사진.png
  src/App.js
  src/pages/Dogs/Dogs.js
  src/pages/dict/Dict.js
  src/pages/dict/dict.module.css
Labels: ✨ Feature, 🎨 Html&css

#28 [#27]admin
  package-lock.json
  public/images/admin/Data Grid.png
  public/images/admin/External Link.png
  public/images/admin/Flipboard.png
  public/images/admin/Logout.png
  public/images/admin/Man.png
  public/images/admin/Open Book.png
  public/images/admin/Open Delivered Box.png
  src/App.js
  src/Layouts/AdminLayout.js
  src/Layouts/AdminLayout.module.css
  src/components/admin/common/Header.js
  src/components/admin/common/Navbar.js
  src/components/admin/common/Navbar.module.css
  src/components/admin/products/AdminProducts.module.css
  src/components/admin/products/SelectAllProducts.js
  src/pages/Admin/AdminDashBoard.js
  src/pages/Admin/AdminPages.module.css
  src/pages/Admin/Products/AdminSelectAllProducts.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#30 [#31] board2 post view
  src/App.js
  src/pages/Board/Board.js
  src/pages/Board/Post.js
  src/pages/Board/board.module.css
Labels: ✨ Feature, 🎨 Html&css

#34 [Close #33] 큐레이션 일곱번째 페이지(선호재료 선택)
  src/pages/Curation/Curation.module.css
  src/pages/Curation/CurationSelectIngra.js
  src/pages/Curation/CurationSelectIngra.module.css
Labels: 🎨 Html&css

#36 [Close #35] 큐레이션 여덟번째 페이지(조리방식 선택)
  src/pages/Curation/CurationSelectCook.js
  src/pages/Curation/CurationSelectCook.module.css
Labels: 🎨 Html&css

#38 [Close #37] 로딩화면 구현
  package-lock.json
  package.json
  public/images/etc/Vector-3.png
  src/components/common/Loding.js
  src/components/common/Loding.module.css
  src/pages/Curation/Curation.js
Labels: ✨ Feature, 🎨 Html&css

#39 [#27]admin_products
  src/App.js
  src/components/admin/products/InsertProduct.js
  src/components/admin/products/SelectAllProducts.js
  src/components/admin/products/SelectProductByCode.js
  src/pages/Admin/AdminPages.module.css
  src/pages/Admin/Products/AdminInserProduct.js
  src/pages/Admin/Products/AdminSelectAllProducts.js
  src/pages/Admin/Products/AdminSelectProductByCode.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#42 [#40] 큐레이션페이지 기능추가
  public/images/curation/1star.png
  public/images/curation/2star.png
  public/images/curation/3716655.jpg
  public/images/curation/3star.png
  public/images/curation/4star.png
  public/images/curation/5star.png
  src/App.js
  src/components/curation/CurationProducts.js
  src/components/curation/CurationProducts.module.css
  src/pages/Curation/Curation.js
  src/pages/Curation/Curation.module.css
  src/pages/Curation/CurationResult.js
  src/pages/Curation/CurationResult.module.css
  src/pages/Curation/CurationSelectAge.js
  src/pages/Curation/CurationSelectAllergy.js
  src/pages/Curation/CurationSelectAllergy.module.css
  src/pages/Curation/CurationSelectCook.js
  src/pages/Curation/CurationSelectDisease.js
  src/pages/Curation/CurationSelectDisease.module.css
  src/pages/Curation/CurationSelectIngra.js
  src/pages/Curation/CurationSelectNeut.js
  src/pages/Curation/CurationSizeSelect.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#43 [#41] 게시판 전체 조회 수정
  src/App.js
  src/pages/Board/Board.js
  src/pages/Board/BoardPost.js
  src/pages/Board/BoardPost.module.css
  src/pages/Board/board.module.css
Labels: ✨ Feature, 🎨 Html&css

#47 [#24] 견종백과 전체 뷰 구현
  src/App.js
  src/pages/dict/Dict.js
  src/pages/dict/DictDetail.js
  src/pages/dict/dict.module.css
  src/pages/dict/dictDetail.module.css
Labels: ✨ Feature, 🎨 Html&css

#48 [#44] 견종백과 상세뷰 구현
  src/App.js
Labels: ✨ Feature, 🎨 Html&css

#50 [#40] 큐레이션페이지 기능 구현
  src/components/curation/CurationInsert.js
  src/components/curation/CurationProducts.js
  src/pages/Curation/CurationResult.js
  src/pages/Curation/CurationSelectCook.js
  src/pages/Curation/CurationSelectDisease.js
Labels: 📬 API, ✨ Feature

#51 [#45] 게시글 상세 조회 뷰 구현
  public/images/board/dogsa.png
  public/images/board/search.svg
  public/images/board/siren.svg
  src/pages/Board/Board.js
  src/pages/Board/BoardPost.js
  src/pages/Board/BoardPost.module.css
  src/pages/Board/Post.js
  src/pages/Board/board.module.css
Labels: ✨ Feature, 🎨 Html&css

#52 [#24] 견종 전체 조회 api 일부 구현
  src/App.js
  src/pages/dict/Dict.js
  src/pages/dict/DictDetail.js
Labels: ✨ Feature

#53 [#27]admin products page
  src/App.js
  src/api/RestAPIs.js
  src/components/admin/common/Navbar.js
  src/components/admin/products/InsertProduct.js
  src/components/admin/products/SelectAllProducts.js
  src/components/admin/products/SelectProductByCode.js
  src/components/admin/products/UpdateProduct.js
  src/pages/Admin/AdminDashBoard.js
  src/pages/Admin/Products/AdminInsertProduct.js
  src/pages/Admin/Products/AdminSelectAllProducts.js
  src/pages/Admin/Products/AdminSelectProductByCode.js
  src/pages/Admin/Products/AdminUpdateProduct.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css, 🔨 Refactor

#58 [#55] Modal edit
  src/components/common/Modal.js
  src/components/common/Modal.module.css
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mydog.module.css
  src/pages/mypage/Mypage.js
Labels: 🎨 Html&css

#59 [close #49] 로그인 페이지 뷰 구현
  src/components/common/Header1.js
  src/pages/auth/Login.js
  src/pages/auth/Login.module.css
Labels: 🎨 Html&css

#60 [close #54] 회원가입 약관동의 페이지 구현
  src/components/common/Header1.js
  src/pages/auth/SignUp.js
  src/pages/auth/SignUp.module.css
Labels: ✨ Feature, 🎨 Html&css

#61 [#45] 게시물 상세 조회 페이지 css 추가 수정
  src/pages/board/Board.js
  src/pages/board/Board.module.css
  src/pages/board/BoardPost.js
  src/pages/board/BoardPost.module.css
  src/pages/board/BoardWiting.js
Labels: ✨ Feature, 🎨 Html&css

#62 [#40] 큐레이션 저장
  src/pages/curation/CurationResult.js
  src/pages/curation/CurationResult.module.css
Labels: 📬 API

#63 [#57] Signup Page identity verification create
  public/images/auth/check_icon.png
  src/App.js
  src/pages/auth/SignUp.js
  src/pages/auth/SignUpIdentity.js
  src/pages/auth/SignUpIdentity.module.css
Labels: ✨ Feature, 🎨 Html&css

#66 [#40] Curation Insert History
  src/pages/curation/CurationResult.js
Labels: 📬 API, ✨ Feature

#67 [#41] View all board page key
  src/pages/board/Board.js
  src/pages/board/Board.module.css
Labels: ✨ Feature, 🎨 Html&css

#68 [#27] Admin_user page
  src/App.js
  src/components/admin/adminCommon/Navbar.js
  src/components/admin/user/AdminUsers.module.css
  src/components/admin/user/SelectAllUsers.js
  src/components/admin/user/SelectUserByCode.js
  src/pages/admin/user/AdminSelectAllUsers.js
  src/pages/admin/user/AdminSelectUserByCode.js
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#73 [#71] My Page API
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mydog.module.css
  src/pages/mypage/Mypage.js
  src/pages/mypage/Mypage.module.css
Labels: 📬 API, ✨ Feature

#74 [#40] Curation Insert History
  src/pages/curation/CurationResult.js
  src/pages/curation/CurationResult.module.css
  src/pages/curation/CurationSelectAge.js
  src/pages/curation/CurationSelectAge.module.css
  src/pages/curation/CurationSelectAllergy.js
  src/pages/curation/CurationSelectCook.js
  src/pages/curation/CurationSelectCook.module.css
  src/pages/curation/CurationSelectDisease.js
  src/pages/curation/CurationSelectIngra.js
  src/pages/curation/CurationSelectIngra.module.css
  src/pages/curation/CurationSelectNeut.js
  src/pages/curation/CurationSelectNeut.module.css
  src/pages/curation/CurationSizeSelect.js
  src/pages/curation/CurationSizeSelect.module.css
Labels: 📬 API, 🎨 Html&css

#75 [#69] Signup Page enter information create
  public/images/auth/logo_circle.png
  public/images/auth/pwd_eye.png
  public/images/auth/pwd_hide.png
  src/App.js
  src/pages/auth/SignUpComplete.js
  src/pages/auth/SignUpComplete.module.css
  src/pages/auth/SignUpIdentity.js
  src/pages/auth/SignUpInfo.js
  src/pages/auth/SignUpInfo.module.css
Labels: ✨ Feature, 🎨 Html&css

#72 [#44] Dictdetail view
  public/images/dict/DogPaw(gray).png
  public/images/dict/DogPaw(green).png
  public/images/dict/all/중형-잉글리시코커스패니얼.png
  public/images/dict/detail/대형-골든리트리버(상세).png
  public/images/dict/detail/대형-그레이트데인(상세).png
  public/images/dict/detail/대형-달마시안(상세).png
  public/images/dict/detail/대형-래브라도리트리버(상세).png
  public/images/dict/detail/대형-로트바일러(상세).png
  public/images/dict/detail/대형-복서(상세).png
  public/images/dict/detail/대형-저먼셰퍼드(상세).png
  public/images/dict/detail/소형-닥스훈트(상세).png
  public/images/dict/detail/소형-단모치와와(상세).png
  public/images/dict/detail/소형-러시안토이테리어(상세).png
  public/images/dict/detail/소형-말티즈(상세).png
  public/images/dict/detail/소형-미니어처슈나우저(상세).png
  public/images/dict/detail/소형-비숑프리제(상세).png
  public/images/dict/detail/소형-시바견(상세).png
  public/images/dict/detail/소형-시츄(상세).png
  public/images/dict/detail/소형-요크셔테리어(상세).png
  public/images/dict/detail/소형-웨스트하일랜드화이트테리어(상세).png
  public/images/dict/detail/소형-잉글리시토이테리어(상세).png
  public/images/dict/detail/소형-장모치와와(상세).png
  public/images/dict/detail/소형-잭러셀테리어(상세).png
  public/images/dict/detail/소형-카발리에킹찰스스패니얼(상세).png
  public/images/dict/detail/소형-퍼그(상세).png
  public/images/dict/detail/소형-포메라니안(상세).png
  public/images/dict/detail/중형-불독(상세).png
  public/images/dict/detail/중형-비글(상세).png
  public/images/dict/detail/중형-사모예드(상세).png
  public/images/dict/detail/중형-슈나우저(상세).png
  public/images/dict/detail/중형-잉글리시코커스패니얼(상세).png
  public/images/dict/detail/중형-푸들(상세).png
  public/images/dict/detail/중형-프랜치불독(상세).png
  src/App.js
  src/pages/dict/Dict.js
  src/pages/dict/Dict.module.css
  src/pages/dict/DictDetail.js
  src/pages/dict/DictDetail.module.css
Labels: ✨ Feature, 🎨 Html&css

#81 [#44] DictDetail view
  src/pages/dict/Dict.js
  src/pages/dict/DictDetail.js
  src/pages/dict/DictDetail.module.css
Labels: ✨ Feature, 🎨 Html&css

#82 [#80] Product Detail
  public/images/product/vector.png
  src/App.js
  src/pages/curation/CurationResult.js
  src/pages/curation/CurationResult.module.css
  src/pages/products/ProductDetail.js
  src/pages/products/ProductDetail.module.css
Labels: 📬 API, 🎨 Html&css

#84 [#78] Call Login API
  src/App.js
  src/api/RestAPIs.js
  src/pages/auth/Login.js
Labels: 📬 API, ✨ Feature

#85 [#79] Curation List API
  src/pages/mypage/Mydog.js
  src/pages/mypage/Mydog.module.css
Labels: 📬 API, 🎨 Html&css

#91 [#87] Add API access token
  src/api/RestAPIs.js
  src/pages/auth/Login.js
Labels: 📬 API

#88 [#80] Product Detail
  src/components/common/Loding.js
  src/pages/curation/CurationResult.js
  src/pages/curation/CurationResult.module.css
  src/pages/products/ProductDetail.js
  src/pages/products/ProductDetail.module.css
Labels: 📬 API, ✨ Feature, 🎨 Html&css

#92 [#89] Products List
  public/images/product/Filter.png
  public/images/product/Line.png
  public/images/product/Search.png
  src/pages/products/Products.js
  src/pages/products/Products.module.css
Labels: 📬 API, 🎨 Html&css

#90 [#86] Dictdetail URL change, disease view change
  src/App.js
  src/pages/dict/Dict.js
  src/pages/dict/DictDetail.js
  src/pages/dict/DictDetail.module.css
Labels: 🐞 BugFix, ✨ Feature

#93 [#55, #79] Curation List
  src/pages/mypage/Mydog.js
Labels: 📬 API, 🔨 Refactor

#97 [#27] Counting products visit
  src/components/admin/adminCommon/AdminModal.module.css
  src/components/admin/adminCommon/ConfirmModal.js
  src/components/admin/products/AdminProducts.module.css
  src/components/admin/products/SelectAllProducts.js
  src/components/admin/products/SelectProductByCode.js
  src/pages/admin/products/AdminSelectAllProducts.js
Labels: ✨ Feature, 🎨 Html&css, 🔨 Refactor

#99 [#89] Products List
  src/pages/curation/CurationResult.js
  src/pages/products/Products.js
  src/pages/products/Products.module.css
Labels: 🎨 Html&css

#98 [#95] Main Page Login, prod list
  src/App.js
  src/components/common/Header1.js
  src/components/common/Header1.module.css
  src/components/common/Header2.js
  src/layouts/Layout2.js
  src/pages/Main.js
  src/pages/Main.module.css
  src/pages/auth/Login.js
Labels: 📬 API, 🔨 Refactor
